
body    {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
header  {
    background: url(../media/background-header-cropped.jpg) no-repeat top right;
    background-attachment: fixed;
    background-size: cover;
    min-width: 320px;
    padding: 5%;
    margin: 0;
    color: #fff;

    @media screen and (min-width:800px){
        padding-bottom: 100px;
    }
}

header img  {
    @media screen and (min-width:800px){
        position: absolute;
        top:1.5em;left:3em;
    }
}

header i {
    display: block;
    color: #fff;
    padding-top: 50px;
}

h1  {
    font-size: 30px;
    font-weight: 300;
    text-shadow: 1px 1px 2px #000;

    @media screen and (min-width:800px){
        font-size: 65px;
    }
}

header p   {
    display: inline-block;
    line-height: 1.5rem;
    padding: 0px 40px;
    font-size: 14px;
    font-weight: 500;

    @media screen and (min-width:800px){
        font-size: 22px;
    }
}

h3  {
    font-size: 18px;
    font-weight: 400;

    @media screen and (min-width:800px){
        font-size: 18px;
    }
}

form    {
    display: flex;
    flex-flow: column;
}
a   {
    padding: 10px;
    text-decoration: none;
    color: #d9d9d9;
}

footer h3 {
    display: none;

    @media screen and (min-width:800px){
        display: inline-block;
        font-size: 30px;
        padding: 20px;
        color: rgb(139, 136, 136);
    }
}

i   {
    color: #bca64d;
}

.topnav    {
    display: none;

    @media screen and (min-width:800px){
        display: inline;
        position: absolute;
        top:2em;right:2em;
    }
}

header .fa {
    color: rgb(139, 136, 136);

    @media screen and (min-width:800px){
        display: none;
    }
}

header a {
    color: #fff;
    display: inline-block;
    padding: 10px 50px;
}

.active {
    border: 2px solid #fff;
}

.corner {
    position:absolute;
    top:0em;right:1em;
  }

.corner i {
    padding: 10px 10px;
  }

.form-input {
    padding: 15px;
    text-align: center;
    border: 3px solid rgb(139, 136, 136);
    margin: 5px;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;

    // @media screen and (min-width:800px){
    //     padding: 15px 10px;
    // }
}
.form-input:nth-child(2) {
    color: #ffffff;
    background-color: rgb(139, 136, 136);
    font-weight: 600;
    font-style: normal;
}
.links  {
    display: flex;
    flex-flow: column;
    padding: 75px 25px 15px 25px;
}
.social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px;
}
#shop   {
    background-color: #bca64d;
    color: #ffffff;
    padding: 1px;
    font-size: 18px;
}
#copyright  {
    color:  #d9d9d9;
}
